<%= form_with(model: [:admin, item], html: {multipart: true} )do |f| %>
  <%= render "shared/model_object_error", object: f.object %>
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-header with-border">
          <h4 class="box-title">Thông tin cho sản phẩm</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <%= f.label :name, "Tên" %>
            <%= f.text_field :name, class: "form-control", placeholder: "Tên sản phầm" %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Mô tả sản phẩm" %>
            <%= f.text_area :description, class: "form-control", placeholder: "Nhập mô tả..." %>
          </div>
           <div class="form-group">
            <%= f.label :price, "Gía sản phầm" %>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
              <%= f.text_field :price, class: "form-control", placeholder: "Nhập gía sản phẩm..." %>
            </div>
          </div>
          <div class="form-group">
            <% unless @categories.blank? %>
              <%= f.label :category_id, "Chọn danh mục" %>
              <%= f.select("category_id", @categories.collect {|cat| [ cat.name, cat.id ] },
                {}, class: "form-control") %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :video, "Link Video Mô tả (Nếu có)" %>
            <%= f.text_field :video, class: "form-control", placeholder: "Video..." %>
          </div>
          <div class="form-group">
            <%= f.check_box :availibility  %>
            <%= f.label :availibility, "Sản phẩm đã có hàng",  style: "margin-left: 10px" %>
          </div>
          <div class="promo">
            <div class="promo_add">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <b>Thêm khuyến mại cho sản phẩm</b>
            </div>
            <div class="form-group <%= item.images.count > 0 ? '' : 'hidden' %>">
              <%= f.text_field :promo, class: "form-control", placeholder: "Nhập gía khuyến mại theo phần trăm..." %>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <%= f.submit "Lưu lại", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h4 class="box-title">Thêm ảnh cho sản phẩm</h4>
        </div>
        <div class="box-body">
           <%= f.fields_for :images do |p| %>
             <div class="field">
                <%= p.label :url, "Chọn file ảnh" %><br>
                <%= p.file_field :url, multiple: true, name: "images[url][]",
                  class: "upload-image", value: p.object.url.url.nil? ? '' : p.object.url.url  %>
                  <% unless p.object.url.url.nil? %>
                    <div class="image_pre_load">
                        <%= image_tag p.object.url.url, size: "240x160", alt: "Ảnh upload", class: "thumbnail" %>
                    </div>
                  <% end %>
            </div>
          <% end %>
          <div id="preview" style="margin-top: 20px">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
