  <aside class="main-sidebar">
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="<%= asset_url('images.jpg')%>" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Trung Manucian</p>
          <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header"><h4 style="color: #fff"><strong><b><i>Quản Lý</i></b></strong></h4></li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa fa-dashboard"></i> <span>Danh mục</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to admin_categories_path do %>
                <i class="fa fa-list" aria-hidden="true"></i>Danh sách
              <% end %>
            </li>
            <li>
              <%= link_to new_admin_category_path do %>
                <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
              <% end %>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa fa-laptop" aria-hidden="true"></i><span>Sản phầm</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to admin_items_path do %>
                <i class="fa fa-list" aria-hidden="true"></i>Danh sách
              <% end %>
            </li>
            <li>
              <%= link_to new_admin_item_path do %>
                <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
              <% end %>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            <span>Đơn hàng</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fa fa-rss" aria-hidden="true"></i>
            <span>Phản hồi</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <span>Bình luận và xếp hạng sp</span>
          </a>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa fa-book" aria-hidden="true"></i>
            <span>Bài Viết</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to "javascript:void(0)" do %>
                <i class="fa fa-list" aria-hidden="true"></i>Danh sách
              <% end %>
            </li>
            <li>
              <%= link_to "javascript:void(0)" do %>
                <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
              <% end %>
          </ul>
        </li>
        <li>
          <a href="<%= admin_sys_infos_path %>">
            <i class="fa fa-info" aria-hidden="true"></i>
            <span>Thông tin chung</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
