 <div class="main-menu">
  <div class="container">
    <div id="header-nav" class="skip-content nav-content">
      <div class="nav-container-mobile">
        <div class="sf-menu-block">
          <ul class="sf-menu-phone">
            <% @categories.each do |cat| %>
              <% if cat.parent.blank? %>
                <li  class="level0 nav-1 first parent">
                  <a href="javascript:void(0)"><%= cat.name %></a>
                  <% if cat.subcategories.count > 0 %>
                    <ul class="level0">
                      <% cat.subcategories.each do |sub| %>
                        <li  class="level1 nav-1-1 first">
                          <a href="javascript:void(0)" class="level1 "><%= sub.name %></a>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
                <% end %>
            <% end %>
            <li  class="level0 nav-2">
              <a href="#blogSection" id="blog" class="level0 current-single">Bài Viết</a>
            </li>
            <li  class="level0 nav-2">
              <a href="#feedbackSection" id="feedback" class="level0 current-single">Phản hồi</a>
            </li>
            <li  class="level0 nav-3">
              <a href="#contactUsSection" id="contactUs" class="level0 current-single">
                Liên Hệ
              </a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>

      <div class="nav-container">
        <div class="nav" style="padding-left: 24%">
          <div class="header-switchers">
            <% @categories.each do |cat| %>
              <% if cat.parent.blank? %>
              <div class="header-button lang-list full_mode">
                <div class="header-button-title"><span class="current"><%= cat.name %></span></div>
                <% if cat.subcategories.count > 0 %>
                  <ul>
                    <% cat.subcategories.each do |sub| %>
                    <li>
                      <a  class="selected" href="javascript:void(0)" title="<%= sub.name%>">
                        <span><%= sub.name %></span><span class="mobile-part">en</span>
                      </a>
                    </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
              <% end %>
            <% end %>
            <div class="header-button full_mode" >
              <div class="header-button-title">
                <span class="current current-single" id="blog" href="#blogSection">Bài Viết</span>
              </div>
            </div>
            <div class="header-button full_mode" >
              <div class="header-button-title">
                <span class="current current-single" id="feedback" href="#feedbackSection">Phản hồi</span>
              </div>
            </div>
            <div class="header-button full_mode">
              <div class="header-button-title">
                <span class="current current-single"  id="contactUs" href="#contactUsSection">Liên hệ</span>
              </div>
            </div>
          </div>
        </div> <!-- end: nav -->
      </div> <!-- end: nav-container -->
    </div>
  </div>
</div>
