 <div class="widget widget-new-products sidebar" style="margin-top: 9%">
  <div class="widget-title center">
    <h1><%= @categories.last.name %></h1>
    <div class="pull-right" style="margin-top: -10px">
      <a href="<%= category_path(@categories.last) %>">
        Xem Tất Cả
        <i class="fa fa-plane" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="widget-products">
    <ul class="products-grid row oil-slider" id='oil-slider'>
      <% unless @categories.last.get_items.flatten.nil? %>
        <% @categories.last.get_items.flatten.each do |item| %>
          <li class="swiper-slide item first col-xs-12 col-sm-4" itemscope>
            <div class="wrapper-hover">
              <div class="product-image-container">
                <a href="" title="<%= item.name %>" class="product-image" itemprop="url">
                  <img id="product-collection-image-2" src="<%= (item.images.count > 0) ? Image.image_thumb(item.id).first.url.url : asset_url('blank.jpg') %>" alt="<%= item.name %>" width="228" height="228" itemprop="image" />
                </a>
              </div>
              <div class="product-details">
                <h2 class="product-name" itemprop="name"><a href="<%= item_path(item) %>" title="<%= item.name %>"><%= item.name %></a></h2>
                <div class="price-box">
                  <% unless item.promo.nil? %>
                    <p class="old-price">
                      <span class="price-label">Regular Price:</span>
                      <span class="price" id="old-price-2">
                      <%= item.price %></span>
                    </p>
                  <% end %>
                  <p class="special-price">
                    <span class="price-label">Special Price</span>
                    <span class="price" id="product-price-2">
                      <% if item.promo.nil? %>
                        <%= item.price %>
                      <% else %>
                        <%= item.price*item.promo / 100 %>
                      <% end %>
                    </span>
                  </p>
                </div>
                <div class="wrapper-hover-hiden detail-button">
                  <div class="actions">
                    <a href="<%= item_path(item) %>" type="button" title="Add to Cart" class="button btn-cart"><span><span>Chi tiết</span></span></a>
                  </div>
                </div>
              </div>
              <div class="label-product">
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
