<div class="top-container" id="top-container">
  <div class="widget widget-static-block">
    <div class="clear"></div>
    <div class="fluid_container_wrap">
      <div class="fluid_container">
        <div class="camera_wrap camera_orange_skin" id="camera_wrap">
          <div data-thumb="<%= asset_url('slide1.jpg') %>" data-src="<%= asset_url('slide1.jpg') %>">
            <div class="camera_caption fadeFromRight">
              <h1>Phong Thủy</h1>
              <h2>May Mắn Tài Lộc</h2>
              <a href="accessories.html">Shop now</a>
            </div>
          </div>
          <div data-thumb="<%= asset_url('slide3.jpg') %>" data-src="<%= asset_url('slide3.jpg') %>">
           <div class="camera_caption fadeFromRight">
            <h1>Thác nước</h1>
            <h2>&amp; Đa dạng về mẫu mã</h2>
            <a href="premium-kits.html">Shop now</a>
          </div>
        </div>
        <div data-thumb="<%= asset_url('slide2.jpg')%>" data-src="<%= asset_url('slide2.jpg')%>">
         <div class="camera_caption fadeFromRight">
          <h1>Tinh dầu </h1>
          <h2>&amp; Mùi hương mê đắm</h2>
          <a href="e-cigarettes.html">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
</div>
</div>
