<div class="header-row-background">
  <div class="container">
    <div class="header-row">
      <!-- Search -->
      <div class="header-search desktop">
        <div class="top-search"></div>
        <form id="search_mini_form" action="javascript:void(0)" method="get">
          <div class="input-box">
            <div class="top-search"></div>
            <label for="search">Tìm kiếm:</label>
            <input
            id="search"
            type="search"
            autocomplete="off"
            class="input-text required-entry"
            name="q"
            value=""
            maxlength="128"
            placeholder="Nhập tìm kiếm ..."/>
            <button type="submit" title="Tìm kiếm" class="button search-button">
              <span>
                <span>Tìm kiếm</span>
              </span>
            </button>
          </div>
          <div id="search_autocomplete" class="search-autocomplete">
          </div>
        </form>
      </div>
      <!-- end Search -->
      <div class="header-minicart desktop">
        <a href="<%= carts_path %>" data-target-element="#header-cart" class="skip-link skip-cart  no-count">
          <span class="icon"></span>
          <span class="label">Gỉo hàng</span>
          <span class="count">0</span>
        </a>
        <div id="header-cart" class="block block-cart skip-content">
          <div id="minicart-error-message" class="minicart-message"></div>
          <div id="minicart-success-message" class="minicart-message"></div>
          <div class="minicart-wrapper">
            <p class="block-subtitle">
              Sản phẩm được mua gần đây <a class="close skip-link-close material-design-cancel19" href="#" title="Close"></a>
            </p>
            <p class="empty" style="font-size: 13px" >Bạn không có sản phẩm nào trong giỏ hàng.</p>
          </div>
        </div>
      </div>
    <!--   <div class="header-switchers">
        <div class="header-button currency-list full_mode">
          <div class="header-button-title">
            <span class="current">USD</span>
          </div>
          <ul>
            <li>
              <a  href="https://livedemo00.template-help.com/magento_57714/directory/currency/switch/currency/EUR/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/" title="EUR"><span>€ Euro</span><span class="mobile-part">EUR</span></a>
            </li>
            <li>
              <a  class="selected" href="https://livedemo00.template-help.com/magento_57714/directory/currency/switch/currency/USD/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/" title="USD"><span>$ US Dollar</span><span class="mobile-part">USD</span></a>
            </li>
          </ul>
        </div>
        <div class="header-button lang-list full_mode">
          <div class="header-button-title"><span class="current">English</span></div>
          <ul>
            <li>
              <a  class="selected" href="https://livedemo00.template-help.com/magento_57714/?___store=english&amp;___from_store=english" title="en_US"><span>English</span><span class="mobile-part">en</span></a>
            </li>
            <li>
              <a  href="https://livedemo00.template-help.com/magento_57714/?___store=german&amp;___from_store=english" title="de_DE"><span>German</span><span class="mobile-part">de</span></a>
            </li>
            <li>
              <a  href="https://livedemo00.template-help.com/magento_57714/?___store=spanish&amp;___from_store=english" title="es_ES"><span>Spanish</span><span class="mobile-part">es</span></a>
            </li>
            <li>
              <a  href="https://livedemo00.template-help.com/magento_57714/?___store=russian&amp;___from_store=english" title="ru_RU"><span>Russian</span><span class="mobile-part">ru</span></a>
            </li>
          </ul>
        </div>
      </div> -->
      <!-- Top Links -->
      <div class="top-links">
        <div id="" class="top-links-inline">
          <div class="links">
            <ul>
              <li class="first" >
                <a href="#" title="Hotline" class="my-account-link">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  Hot line: <%= @sys_info.hotline %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end Top Links -->
      <!--<p class="welcome-msg">Welcome to our online store! </p>-->
      <!-- logo -->
      <a class="logo" href="<%= root_url %>">
        <img src="<%= asset_url('logo1.png')%>" alt="Trang Chủ" style="width: 250px; height: 115px;" />
      </a>
      <!-- end logo -->
    </div>
  </div>
</div>
<!-- *************  Skip Container for Mobile ************* -->
<div class="skip-container mobile">
  <div class="container">
    <div class="skip-links">
      <!-- Menu Label -->
      <a href="#header-nav" class="skip-link skip-nav">
        <span class="icon"></span>
        <span class="label">Menu</span>
      </a>
      <!-- Search Label -->
      <a href="#header-search" class="skip-link skip-search">
        <span class="icon"></span>
        <span class="label">Tìm kiếm</span>
      </a>
      <!-- Search content -->
      <div id="header-search" class="skip-content">
        <form id="search_mini_form" action="#" method="get">
          <div class="input-box">
            <div class="top-search"></div>
            <label for="search">Tìm kiếm:</label>
            <input
            id="search"
            type="search"
            autocomplete="off"
            class="input-text required-entry"
            name="q"
            value=""
            maxlength="120"
            placeholder="Nhập tìm kiếm ..."/>
            <button type="submit" title="Tìm kiếm" class="button search-button" style="margin-right: 10px">
              <span>
                <span>Tìm kiếm</span>
              </span>
            </button>
          </div>
          <div id="search_autocomplete" class="search-autocomplete">
          </div>
        </form>
      </div>
      <!-- Cart -->
      <!-- <div class="header-minicart mobile"> -->
        <a href="#" data-target-element="#header-cart-mobile" class="skip-link skip-cart  no-count">
          <span class="icon"></span>
          <span class="label">Cart</span>
          <span class="count">0</span>
        </a>
        <div id="header-cart-mobile" class="block block-cart skip-content">
          <div id="minicart-error-message" class="minicart-message"></div>
          <div id="minicart-success-message" class="minicart-message"></div>
          <div class="minicart-wrapper">
            <p class="block-subtitle">
              Sản phẩm được mua gần đây <a class="close skip-link-close material-design-cancel19" href="#" title="Close"></a>
            </p>
            <p class="empty" style="font-size: 13px" >Bạn không có sản phẩm nào trong giỏ hàng.</p>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="header-minicart mobile"> -->
     <!--    <h5>
          <p> -->
            <a href="#" title="Hotline" class="skip-link skip-cart no-count"
            style="display: inline-block; margin-top: 2%;" data-target-element="#header-hot-mobile">
              <sup><i class="fa fa-phone" aria-hidden="true" style="font-size: 20px"></i></sup>
            </a>
            <div id="header-hot-mobile" class="block block-cart skip-content">
              <small><%= @sys_info.hotline %></small>
            </div>
         <!--  </p>
        </h5> -->
      <!-- </div> -->
    </div>
  </div>
</div>
