<% @categories.each_with_index do |cat, index| %>
  <% if index != @categories.size - 1 %>
      <div class="widget-catalogsale-products-carousel sidebar" id="dd73e02cfd0daca86f7ebcee23400f19" >
        <div class="widget-title center">
          <h1><%= cat.name %></h1>
        </div>
        <ul class="content-slider" id="content-slider">
          <% unless cat.parent_get_items.nil? %>
            <% cat.parent_get_items.each do |item| %>
              <li class="swiper-slide" itemscope>
                <a class="product-image" href="<%= item_path(item) %>" title="<%= item.name %>" itemprop="url">
                  <img src="<%= (item.images.count > 0) ? Image.image_thumb(item.id).first.url.url : asset_url('blank.jpg') %>" width="228" height="228" alt="" itemprop="image" />
                </a>
                <div class="product-details">
                  <div class="p-left">
                    <h2 class="product-name" itemprop="name">
                      <a href="<%= item_path(item) %>" title="<%= item.name %>">
                        <%= item.name  %>
                      </a>
                    </h2>
                    <div class="price-box">
                      <% unless item.promo.nil? %>
                        <p class="old-price">
                          <span class="price-label">Regular Price:</span>
                          <span class="price" id="old-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                          <%= item.price %> </span>
                        </p>
                      <% end %>

                      <p class="special-price">
                        <span class="price-label">Special Price</span>
                        <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                        <% if item.promo.nil? %>
                          <%= item.price %>
                        <% else %>
                          <%= item.price*item.promo/100 %>
                        <% end %>
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="p-right">
                    <a href="<%= item_path(item) %>" class="button"><span><span>Chi tiết</span></span></a>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
  <% end %>
<% end %>
