<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <% end %> -->
  <!DOCTYPE html>
  <html>
  <head>
    <%= render "partials/admin_head" %>
  </head>
  <body class="hold-transition login-page">
    <%= render "shared/login_toast_message" %>
    <div class="login-box">
      <div class="login-logo">
        <a href="../../indèx.html"><b>Trang quản trị</b>|<small style="font-size: 23px">Đăng nhập</small></a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <%= render "shared/flash_message" %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group has-feedback">
          <%= f.email_field :email, class: "form-control",placeholder: "Email", autofocus: true %><br />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.password_field :password, autocomplete: "off" , class: "form-control", placeholder: "Password" %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
        <% end %>
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
  </body>
  </html>
