 <div class="product-name">
  <h1><%= item.name %></h1>
</div>
<div class="more-views">
  <div class="bx-wrapper" style="max-width: 100px; margin: 0px auto;">
    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 660px;">
      <ul class="product-image-thumbs more-views-carousel" data-imgmode="large-image" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
        <% if item.images.size > 0  %>
          <% item.images.each do |image|  %>
            <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
              <a class="thumb-link active" href="#" title="" data-image-index="0">
                <img src="<%= image.url.url %>" alt="">
              </a>
            </li>
          <% end %>
        <% else %>
        <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
          <a class="thumb-link active" href="#" title="" data-image-index="0">
            <img src="<%= asset_url('blank.jpg') %>" alt="<%= item.name %>">
          </a>
        </li>
        <% end %>

      </ul>
    </div>
    <div class="bx-controls bx-has-controls-direction">
      <div class="bx-controls-direction">
        <a class="bx-prev disabled" href=""></a>
        <a class="bx-next disabled" href=""></a>
      </div>
    </div>
  </div>
</div>
<div class="product-image product-image-zoom zoom-available">
  <div class="product-image-gallery">
    <% if item.images.size > 0  %>
        <% item.images.each do |image|  %>
          <img id="image-main" class="gallery-image visible" src="<%= image.url.url %>" alt="<%= item.name %>" title="<%= item.name %>" itemprop="image">
        <% end %>
    <% else %>
      <img id="image-main" class="gallery-image visible" src="<%= asset_url('blank.jpg') %>" alt="<%= item.name %>" title="<%= item.name %>" itemprop="image">
    <% end %>
  </div>
</div>
