<div class="product-shop">
  <div class="additional-info">
    <div class="product-sku">Mã sản phẩm:<span class="sku-number">5435</span></div>
    <% unless item.promo.nil? %>
      <p class="availability-only">
        <span title="Only 4234 left">Khuyến mãi <strong><%= item.promo %> % </strong></span>
      </p>
    <% end %>
    <p class="availability in-stock" itemprop="availability">
      <span class="label">Tình trạng:</span>
      <span class="value">
        <% if item.availibility %>
          Còn hàng
        <% else %>
          <span class="text-danger">Hết hàng</span>
        <% end %>
      </span>
    </p>
    <div class="clear"></div>
  </div>
  <div class="product-name secondary" itemprop="name">
    <span class="h1"><%= item.name %></span>
  </div>
  <div class="extra-info">
    <%= render "item_rating" %>
  </div>
  <div class="price-info" itemprop="price">
    <div class="price-box">
      <span class="regular-price" id="product-price-1">
        <span class="price">
          <% unless item.promo.nil? %>
            <span style="text-decoration: line-through; font-size: 18px; opacity: .6"><%= number_to_currency(item.price, unit: "", separator: ".", delimiter: ",", precision: 0) %> VND</span>
            <span><%= number_to_currency(item.price.to_f*(100-item.promo) / 100, unit: "", separator: ".", delimiter: ",", precision: 0) %> VND</span>
          <% else  %>
            <span><%= number_to_currency(item.price, unit: "", separator: ".", delimiter: ",", precision: 0) %> VND</span>
          <% end  %>
        </span>
      </span>
    </div>
  </div>
  <div class="clear"></div>
  <div class="product-options-bottom" style="margin-top: 10px; border-top: 2px solid #B6B1C2; padding-top: 20px">
    <div class="price-box">
      <span class="regular-price" id="product-price-1_clone">
        <span class="price">
          <% if item.promo.nil?  %>
            <%= item.price %>
          <% else %>
            <%= item.price.to_f * item.promo / 100 %>
          <% end %>
        </span>
      </span>
    </div>
    <div class="add-to-cart">
      <div class="qty-wrapper">
        <label for="qty">Qty:</label>
        <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty">
      </div>
      <div class="add-to-cart-buttons">
        <button type="button" title="Add to Cart" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span>Giỏ hàng</span></span></button>
      </div>
    </div>
  </div>
</div>
<div class="add-to-cart-wrapper"></div>
<div class="clear"></div>
