 <li class="swiper-slide" style="height: 400px">
  <a class="product-image" href="<%= item_path(related)  %>" itemprop="url">
    <img src="<%= (related.images.count > 0) ? Image.image_thumb(related.id).first.url.url : asset_url('blank.jpg') %>" alt="<%= related.name %>" itemprop="image" />
  </a>
  <div class="product-details">
    <div class="p-left">
      <h3 class="product-name text-center"  itemprop="name" style="border-bottom: none !important; padding-bottom: 10px !important; margin-bottom: 0px !important">
        <a href="<%= item_path(related)%>" title="<%= related.name  %>">
          <%= related.name %>
        </a>
      </h3>
      <div class="price-box-item price-box">
        <% unless related.promo.blank? %>
          <p class="old-price">
            <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
            <%= number_to_currency(related.price, unit: "", separator: ".", delimiter: ",", precision: 0) %> VND</span>
          </p>
          <p class="special-price">
            <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
              <%= number_to_currency(related.price.to_f*(100-related.promo) / 100, unit: "", separator: ".", delimiter: ",", precision: 0) %> VND
            </span>
          </p>
        <% else %>
          <p class="special-price">
            <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
            <%= number_to_currency(related.price, unit: "", separator: ".", delimiter: ",", precision: 0) %> VND</span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</li>
