<li class="swiper-slide"style="height: 400px">
  <a class="product-image" href="<%= item_path(top) %>" itemprop="url">
    <img src="<%= (top.images.count > 0) ? Image.image_thumb(top.id).first.url.url : asset_url('blank.jpg') %>" alt="<%= top.name %>" itemprop="image" />
  </a>
  <div class="product-details">
    <div class="p-left">
      <h3 class="product-name text-center" itemprop="name" style="border-bottom: none !important; padding-bottom: 10px !important; margin-bottom: 0px !important">
        <a href="<%= item_path(top)%>" title="<%= top.name %>">
          <%= top.name %>
        </a>
      </h3>
      <div class="ratings">
        <div class="rating-box stars">
          <i class="review-icon"></i>
          <i class="review-icon"></i>
          <i class="review-icon"></i>
          <i class="review-icon"></i>
          <i class="review-icon"></i>
          <div class="rating" style="width:40%">
            <div class="mask">
              <i class="review-icon"></i>
              <i class="review-icon"></i>
              <i class="review-icon"></i>
              <i class="review-icon"></i>
              <i class="review-icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="price-box-item price-box">
        <% unless top.promo.blank? %>
          <p class="old-price">
            <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
            <%= number_to_currency(top.price, unit: "", separator: ".", delimiter: ",", precision: 0) %> VND</span>
          </p>
          <p class="special-price">
            <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
              <%= number_to_currency(top.price.to_f*(100-top.promo) / 100, unit: "", separator: ".", delimiter: ",", precision: 0) %> VND
            </span>
          </p>
        <% else %>
          <p class="special-price">
            <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
            <%= number_to_currency(top.price, unit: "", separator: ".", delimiter: ",", precision: 0) %> VND</span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</li>

