 <div class="main-container col1-layout">
  <%= render "item_crumbs", item: @item %>
  <div class="container">
    <div class="main">
      <div class="col-main">
        <div class="padding-s">
          <div class="product-view large-image-type" itemscope="" itemtype="https://schema.org/Offer">
            <div class="product-essential row">
              <form action="#" method="post" id="product_addtocart_form" enctype="multipart/form-data">
                <input name="form_key" type="hidden" value="ggM7utfEzjAlVAvw">
                <div class="no-display">
                  <input type="hidden" name="product" value="1">
                  <input type="hidden" name="related_product" id="related-products-field" value="">
                </div>
                <div class="product-img-box col-xs-12  col-lg-8 col-sm-6">
                  <%= render "item_view_zoom", item: @item %>
                </div>
                <div class="col-xs-12 col-lg-4 col-sm-6">
                  <%= render "item_info", item: @item %>
                </div>
              </form>
            </div>
            <div class="product-collateral toggle-content tabs">
              <%= render "item_collateral", item: @item %>
            </div>
            <div id="block-related" style="margin-top: 25px">
              <h2 class="odd">Sản phẩm cùng loại</h2>
              <p class="block-subtitle even related_items" style="float: right;
    margin-top: -60px;"><a href="<%= category_path(@item.category.id) %>">Xem tất cả</a></p>
              <ul class="swipe-carousel last odd">
                <% @related_items.each do |related| %>
                  <%= render "related_item", related: related %>
                <% end  %>
              </ul>
            </div>
            <div id="upsell-product" style="margin-top: 25px">
              <h2>Sản phẩm bán chạy</h2>
              <ul class="up-sell-carousel-1">
                <% @topsell_items.each do |top| %>
                  <%= render "top_sell_item", top: top %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
