<div class="main-container col1-layout">
  <%= render "item_crumbs", item: @item %>
  <div class="container">
    <div class="main">
      <div class="col-main">
        <div class="padding-s">
          <div class="product-view large-image-type" itemscope="" itemtype="https://schema.org/Offer">
            <div class="product-essential row">
              <form action="#" method="post" id="product_addtocart_form" enctype="multipart/form-data">
                <input name="form_key" type="hidden" value="ggM7utfEzjAlVAvw">
                <div class="no-display">
                  <input type="hidden" name="product" value="1">
                  <input type="hidden" name="related_product" id="related-products-field" value="">
                </div>
                <div class="product-img-box col-xs-12  col-lg-8 col-sm-6">
                  <%= render "item_view_zoom" %>
                </div>
                <div class="col-xs-12 col-lg-4 col-sm-6">
                  <%= render "item_info" %>
                </div>
              </form>
            </div>
            <div class="product-collateral toggle-content tabs">
              <%= render "item_collateral" %>
            </div>
            <div id="block-related">
              <h2 class="odd">Related Products</h2>
              <p class="block-subtitle even">Check items to add to the cart or&nbsp;<a href="#" onclick="selectAllRelated(this); return false;">select all</a></p>
              <ul class="swipe-carousel last odd">
                <%= render "related_item" %>
              </ul>
            </div>
            <div id="upsell-product">
              <h2>You may also be interested in the following product(s)</h2>
              <%= render "top_sell_item" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
