<li class="postWidget">
  <div class="postImage" style="width: 50%">
    <a href="<%= item_path(item)%>"> <img src="<%= (item.images.count > 0) ? Image.image_thumb(item.id).first.url.url : asset_url('blank.jpg') %>" alt="<%= item.name %>"></a>
  </div>
  <div class="post-desc" style="width: 50%">
    <div class="widget-latest-title"><a href="<%= item_path(item)%>"><%= item.name %></a></div>
    <% if item.promo.nil?  %>
      <span class="widget-latest-data"><%= item.price %> VND</span>
    <% else  %>
      <span class="widget-latest-data" style="text-decoration: line-through;"><%= item.price %> VND</span>
      <span class="widget-latest-data" style="color: #333"><%= item.price.to_f*item.promo / 100 %> VND</span>
    <% end %>
    <a href="<%= item_path(item)%>" class="aw-blog-read-more all-blog">Xem thêm</a>
  </div>
</li>
