<table class="table">
  <tbody>
    <tr>
      <td>1.</td>
      <th>Hotline</th>
      <td><%= sys_info.hotline %></td>
    </tr>
    <tr>
      <td>2.</td>
      <th>Địa chỉ</th>
      <td>
        <%= sys_info.address %>
      </td>
    </tr>
    <tr>
      <td>3.</td>
      <th>Giới thiệu về chúng tôi</th>
      <td>
        <p><%= sys_info.about_us %></p>
      </td>
    </tr>
    <tr>
      <td>4.</td>
      <th>Đường link đến facebook page</th>
      <td>
        <%= sys_info.facebook_page_url %>
      </td>
    </tr>
    <tr>
      <td>5.</td>
      <th>Email</th>
      <td>
        <%= sys_info.email %>
      </td>
    </tr>
  </tbody>
</table>
